language: ruby
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - rbx
  - jruby-19mode
gemfile:
  - gemfiles/rails30.gemfile
  - gemfiles/rails31.gemfile
  - gemfiles/rails32.gemfile
  - gemfiles/rails40.gemfile
  - gemfiles/rails41.gemfile
before_install:
  - "if [ ${TRAVIS_RUBY_VERSION:-''} != 'rbx'  ]; then gem install bundler; fi"
matrix:
  exclude:
    - rvm: 1.8.7
      gemfile: gemfiles/rails40.gemfile
    - rvm: 1.8.7
      gemfile: gemfiles/rails41.gemfile
  allow_failures:
    - rvm: jruby-19mode
      gemfile: gemfiles/rails41.gemfile
